.col-centered{
    float: none;
    margin: 0 auto;
}

.form-signin-heading{
    color: #173B0B;
    text-align: center;
}

label{
    color: #173B0B;
}

.glyphicon-pencil {
    margin-right: 10px;
}

.glyphicon-trash{
    color: red;
}

.footer{
    margin-top: 30px;
}